   {# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}   
    <!-- #geschiedenis -->
    <div id="about" class="wrap-container8040">
        
        <!-- .container -->
    	<div class="container">
            
            <div class="post-heading-center"> 
            	<h2>Geschiedenis en toekomst</h2>
            </div>          
            
            <!-- .row-custom -->
            <div class="row-custom">
    		Al enkele jaren geleden is het idee ontstaan voor ons concept. Het idee om een platform neer te zetten, waar software beschikbaar is voor een ieder die een eigen online community zou willen bouwen, van commercieel tot maatschappelijk. Nu bestaan er natuurlijk al genoeg frameworks, maar het framework an sich is niet het doel. Het doel is om vanuit dit bedrijf steeds nieuwe ondernemingen op te zetten, elke keer een nieuwe startup. Waarmee passende antwoorden kunnen worden gegeven op maatschappelijke vraagstukken of commerci&euml;le vragen. Afgelopen jaren is er druk gewerkt aan zowel het ontwikkelen van dit framework als het samenstellen van een team waarmee we innovatieve concepten, gebaseerd op ICT, kunnen bedenken. Inmiddels is het framework af en het team compleet en Conduction Government een feit.
            </div>
            <!-- .row-custom end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- /#geschiedenis -->
    
    <!-- .wrap-container -->
    <div class="wrap-container8040">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                        	<h4>Bedenker en Lead-Developer</h4>
                            <h2>Ruben van der Linde</h2>
                            <h3>Aandachtgebieden: Overheid, Onderwijs </h3>
                        </div>
                        
                        <p class="margin-bottom30">Ruben is een omdenker en een bouwer. Hij weet de angel van een probleem om te buigen naar een oplossing voor hetzelfde probleem. Daarbij is hij een echte bouwer, of dat nou gaat over code of een community, hij is van vele markten thuis. Van implementatie- en projectmanager in de uitzendbranche en online retail, tot politiek op lokaal/landelijk niveau. Daar was hij betrokken bij studentenhuisvesting, jeugdwerk, beleid en onderwijs. Zo is hij op het snijvlak van ICT en politiek terecht gekomen. </p>
                       	<a href="https://twitter.com/rubenlinde" class="btn-custom btn-icon"><i class="fa fa-twitter"></i> Twitter</a>
                        <a href="https://www.linkedin.com/in/rubenlinde/" class="btn-custom btn-icon"><i class="fa fa-linkedin"></i> LinkedIn</a>
                        <a href=https://api.whatsapp.com/send?phone=+31645536677&text=Heya" class="btn-custom btn-icon"><i class="fa fa-whatsapp"></i> Whatsapp</a>
                        <a href="mailto:ruben@conduction.nl" class="btn-custom btn-icon"><i class="fa fa-envelope"></i> Email</a>
                    </div>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<figure class="col-img40 margin-bottom40 animation" data-animation="animation-fade-in-right">
                        <img src="../images/content/team/ruben_zakelijk.png" alt="Image">
                    </figure>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
    
    
    <!-- .wrap-container -->
    <div class="wrap-container8040">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                        	<h4>Tester en Kwaliteitsmanager</h4>
                            <h2>Matthias Oliveiro</h2>
                            <h3>Aandachtgebieden: IT, Finance, Online retai</h3>
                        </div>
                        
                        <p class="margin-bottom30">Matthias kenmerkt zich door zijn sterke interesse in techniek, zijn pragmatische instelling, zijn hoge doorzettingsvermogen en zijn goede communicatieve vaardigheden. Matthias komt met ongewone oplossingen voor hardnekkige problemen. Hij past dit niet alleen toe op het professionele vlak maar ook in de keuken. Sereh of limoen, het kan allebei. Matthias is een echte bourgondi&euml;r met een gezonde dosis zelfspot. Indisch, Italiaans en tapas zijn zijn meest favoriete kooksels.</p>
                        <a href="" class="btn-custom btn-icon hidden"><i class="fa fa-twitter"></i> Twitters</a>
                        <a href="https://www.linkedin.com/in/matthiasoliveiro/" class="btn-custom btn-icon"><i class="fa fa-linkedin"></i> LinkedIn</a>
                        <a href="" class="btn-custom btn-icon hidden"><i class="fa fa-whatsapp"></i> Whatsapp</a>
                        <a href="mailto:matthias@conduction.nl" class="btn-custom btn-icon"><i class="fa fa-envelope"></i> Email</a>
                    </div>
                </div>
                
                <div class="col-sm-1 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<figure class="col-img40 margin-bottom40 animation" data-animation="animation-fade-in-right">
                        <img src="../images/content/team/matthias_zakelijk.png" alt="Image">
                    </figure>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
    
    <!-- .wrap-container -->
    <div class="wrap-container8040 bg-grey">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0">
                	<figure class="margin-bottom40 animation" data-animation="animation-fade-in-left">
                    	<img src="../images/content/team/marleen_zakelijk.png" alt="Image">
                    </figure>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<div class="col-text20 margin-bottom20">
                    	<div class="post-heading-left margin-bottom20">
                            <h4>Social en creatief brein</h4>
                            <h2>Marleen Romijn</h2>
                            <h3>Aandachtgebieden: Marketing, Social, Growth</h3>
                        </div>
                                               
                        <p class="margin-bottom30">Als coach en trainer heeft Marleen veel ervaring met het verbinden van mensen. Haar kennis over menselijk gedrag vertaalt zij nu naar online communiceren en verbinden. Met een kleine dosis technical skills, een onuitputtelijke nieuwsgierigheid en een creatieve insteek, onderzoekt zij de markt, om zo alle mogelijkheden te kunnen benutten die tot (online) groei leiden. She likes to explore. </p>
                        <a href="" class="btn-custom btn-icon hidden"><i class="fa fa-twitter"></i>Twitters</a>
                        <a href="https://www.linkedin.com/in/marleen-romijn-45a45054/" class="btn-custom btn-icon"><i class="fa fa-linkedin"></i>LinkedIn</a>
                        <a href="" class="btn-custom btn-icon hidden"><i class="fa fa-whatsapp"></i> Whatsapp</a>
                        <a href="mailto:marleen@conduction.nl" class="btn-custom btn-icon"><i class="fa fa-envelope"></i> Email</a>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
    {% include 'widgets/newsletter.html.twig' %}
    {% include 'widgets/contact.html.twig' %}
    
{% endblock %}
    
    
