{# templates/widgets/newsletter.html.twig #}
     

	<div id="newsletter" class="wrap-container8040 bg-color">
        <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-12 col-md-6 ">
                	<figure class="col-img40 margin-bottom40 animation animated animation-fade-in-right" data-animation="animation-fade-in-right">
                        <img src="images/content/landing/feature-1.png" alt="Image">
                    </figure>
                </div>
                
                <div class="col-sm-12 col-md-6 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                        	<h4>Blijf je graag op de hoogte van onze Common Ground projecten?</h4>
                            <h2>Inschrijven nieuwsbrief</h2>
                        </div>
                        
                        <form method="post" action="#" class="affa-form-contact hidden">
                        	<div class="submit-status"></div> <!-- submit status -->
                            <input type="text" name="name" placeholder="Your Name  *"">
                            <input type="text" name="email" placeholder="Email Address *">
                            <input type="submit" name="submit" value="Inschrijven">
                        </form>
                        
               			<a href="https://share.hsforms.com/10jnw3g8CRG-jhqnRjldK-Q3mxau" class="btn-custom btn-more-link btn-block"><i class="fa fa-podium"></i> Inschrijven</a>
                    </div>
                </div>                                
            </div>
            <!-- .row end -->            
        </div>       
    </div>
    <!-- .wrapper end -->
    
    
    
    
    