{# templates/header.html.twig #}

    <!-- #contact -->
    <div id="contact" class="wrap-container80 hidden">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4">
                	<div class="affa-info-text">
                    	<img src="images/content/icon/mobile.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" />
                        <h4>Phone Number</h4>
                        <p>(00) 123-4567890 (tel-1)</p>
                        <p>(00) 123-4567890 (tel-2)</p>
                    </div>
                </div>
                
                <div class="col-sm-4">
                	<div class="affa-info-text">
                    	<img src="images/content/icon/mail.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" data-delay="300" />
                        <h4>Email Address</h4>
                        <p>email_1@example.com</p>
                        <p>email_2@example.com</p>
                    </div>
                </div>
                
                <div class="col-sm-4">
                	<div class="affa-info-text">
                    	<img src="images/content/icon/location-pin.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" data-delay="600" />
                        <h4>Business Address</h4>
                        <p>123 Main Street Cottage</p>
                        <p>Long Branch, P.O Box 65148</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
            <div class="sep-border margin-bottom40"></div> <!-- separator -->
            
            <div class="post-heading-center">
            	<h4>Flatland Landing Page</h4>
                <h2>Neem contact met ons op</h2>
                <p>Samen begint met contact, die eerste vonk die verbindt. Don't be afraid, toss us a line!</p>
            </div>
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                	<form method="post" action="#" class="affa-form-contact">
                    	<div class="submit-status"></div> <!-- submit status -->
                        <input type="text" name="name" placeholder="Your Name" />
                        <input type="text" name="email" placeholder="Email Address *" />
                        <textarea name="message" placeholder="Message *"></textarea>
                        <input type="submit" name="submit" value="Send Message" />
                    </form>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #contact end -->
    
    
