	<!-- #footer -->
    <footer id="footer">
    	
        <div class="footer-socials">
        	<div class="container">
            	<a onclick="captureOutboundLink('http://www.twitter.com','visit'); return false;" href="https://twitter.com/conduction_nl" title="Twitter" class="animation" data-animation="animation-bounce-in"><i class="fab fa-twitter"></i></a>
                <a onclick="captureOutboundLink('http://www.facebook.com','visit'); return false;" href="https://www.facebook.com/conductionnl/" title="Facebook" class="animation" data-animation="animation-bounce-in" data-delay="200"><i class="fab fa-facebook-f"></i></a>
                <a onclick="captureOutboundLink('http://www.instagram.com','visit'); return false;" href="https://www.instagram.com/conduction_nl" title="Instagram" class="animation" data-animation="animation-bounce-in" data-delay="800"><i class="fab fa-instagram"></i></a>
                <a onclick="captureOutboundLink('http://www.linkedin.com','visit'); return false;" href="https://www.linkedin.com/company/conduction/about/" title="LinkedIn" class="animation" data-animation="animation-bounce-in" data-delay="1000"><i class="fab fa-linkedin"></i></a>
                <a onclick="captureOutboundLink('http://www.github.com','visit'); return false;" href="https://github.com/ConductionNL" title="Github" class="animation" data-animation="animation-bounce-in" data-delay="1200"><i class="fab fa-github"></i></a>
            </div>
        </div>
        
        <div class="footer-copyright">
            <div class="container">
            	<p>&copy; 2018 Copyright. All Rights Reserved. Created by <a href="https://www.conduction.nl" target="_blank">Conduction.</a></p>
            </div>
        </div>
        
    </footer>
    <!-- #footer end -->