	<!-- #footer -->
    <footer id="footer">
    	
        <div class="footer-socials">
        	<div class="container">
            	<a href="#" title="Twitter" class="animation" data-animation="animation-bounce-in"><i class="fa fa-twitter"></i></a>
                <a href="#" title="Facebook" class="animation" data-animation="animation-bounce-in" data-delay="200"><i class="fa fa-facebook"></i></a>
                <a href="#" title="Google Plus" class="animation" data-animation="animation-bounce-in" data-delay="400"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="Pinterest" class="animation" data-animation="animation-bounce-in" data-delay="600"><i class="fa fa-pinterest"></i></a>
                <a href="#" title="Instagram" class="animation" data-animation="animation-bounce-in" data-delay="800"><i class="fa fa-instagram"></i></a>
                <a href="#" title="LinkedIn" class="animation" data-animation="animation-bounce-in" data-delay="1000"><i class="fa fa-linkedin"></i></a>
                <a href="#" title="Github" class="animation" data-animation="animation-bounce-in" data-delay="1200"><i class="fa fa-github"></i></a>
            </div>
        </div>
        
        <div class="footer-copyright">
            <div class="container">
            	<p>&copy; 2018 Copyright. All Rights Reserved. Created by <a href="https://www.conduction.nl" target="_blank">Conduction.</a></p>
            </div>
        </div>
        
    </footer>
    <!-- #footer end -->