{# templates/header.html.twig #}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                       
    {% if currentPath == '/'%}                  
    <!-- #header -->
    <header id="header">
        
        <!-- #navigation -->
        <nav id="navigation" class="navbar">
            
            <!-- .container -->
            <div class="container">
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse-1">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand"><img src="images/logo.png" alt="Logo" /></div> <!-- site logo -->
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://www.conduction.nl/#header" class="smooth-scroll">Home</a></li>
                        <li><a href="https://www.conduction.nl/#features" class="smooth-scroll">Features</a></li>
                        <li><a href="https://www.conduction.nl/#about" class="smooth-scroll">Over conduction</a></li>
                        <li><a href="/team" class="smooth-scroll">Team</a></li>
                        <li><a href="/werkwijze" class="smooth-scroll">Werkijze</a></li>
                        <li><a href="/beveiliging" class="smooth-scroll">Beveiliging</a></li>
                    </ul>
                </div>
                
            </div>
            <!-- .container end -->
            
        </nav>
        <!-- #navigation end -->
        
        <!-- .header-content -->
        <div class="header-content">
            
            <!-- .container -->
            <div class="container">
                
                <!-- .row -->
            	<div class="row">
                    
                    <div class="col-sm-7">
                    	<div class="header-text">
                        	<div class="header-heading">
                            	<p>Conduction is een online platform dat digitale ecosystemen faciliteert</p>
                                <h1>U en wij. Samen lossen we het op.</h1>
                            </div>
                            <p>Jij hebt een doel, wij hebben techniek, samen werken we het verder uit. Oplossingen vinden door het (online) verbinden van mensen, middelen en informatie, dat is waar wij blij van worden!</p>
                            <div class="header-button">
                            <!-- 
                            	<a href="#products" class="btn-custom btn-icon animation smooth-scroll" data-animation="animation-fade-in-left"><i class="fa fa-download"></i> Onze oplossingen</a>
                                <span class="header-button-sep animation" data-animation="animation-fade-in" data-delay="300">or</span>
                                <a href="#features" class="btn-custom btn-more-link animation" data-animation="animation-fade-in-right" data-delay="600">Leer meer</a>
                             -->    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-5 col-md-4 col-md-offset-1">
                    	<div class="header-img">
                            <div class="carousel-slider header-slider animation" data-animation="animation-fade-in-down">
                                <div><img src="images/content/sliders/trouwplanner.png" alt="Trouw Planner" /></div>
                                <div><img src="images/content/sliders/jobhub.png" alt="Job Hub" /></div>
                                <div><img src="images/content/sliders/nextapp.png" alt="Next App" /></div>
                                <div><img src="images/content/sliders/roomservice.png" alt="Room Service" /></div>
                                <div><img src="images/content/sliders/community.png" alt="Com-unity" /></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- .row end -->
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- .header-content end -->
        
    </header>
    <!-- #header end -->
    {% else %}
    <!-- #header -->
    <header id="header">
        
        <!-- #navigation -->
        <nav id="navigation" class="navbar">
            
            <!-- .container -->
            <div class="container">
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse-1">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand"><img src="../images/logo.png" alt="Logo" /></div> <!-- site logo -->
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/#header" class="smooth-scroll">Home</a></li>
                        <li><a href="/#features" class="smooth-scroll">Features</a></li>
                        <li><a href="/#about" class="smooth-scroll">Over conduction</a></li>
                        <li><a href="/team" class="smooth-scroll">Team</a></li>
                        <li><a href="/werkwijze" class="smooth-scroll">Werkijze</a></li>
                        <li><a href="/beveiliging" class="smooth-scroll">Beveiliging</a></li>
                    </ul>
                </div>
                
            </div>
            <!-- .container end -->
            
        </nav>
        <!-- #navigation end -->
        
   {% endif %}     
        
    </header>
    <!-- #header end --> 
    
    
